force-app/main/default/flows/Affordability_Roll_Up_Affordability_Expenses_After_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Affordability_Records_Count</name>
        <label>Affordability Records Count</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>AffordabilityCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Affordability_Records_Count</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Deleted_All_Affordability_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Lifestyle_Exp_Total</name>
        <label>Lifestyle Exp Total</label>
        <locationX>314</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Gambling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Entertainment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Sports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Leisure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Insurances__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GamblingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Gambling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntertainmentTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Entertainment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SportsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Sports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeisureTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Leisure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Insurances__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Transport_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Living_Exp_Total</name>
        <label>Living Exp Total</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>LivingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TV_internet_communication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Groceries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Clothing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Investments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TvInternetCommTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TV_internet_communication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroceriesTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Groceries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClothingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Clothing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvestmentsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Investments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Lifestyle_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Children_Exp_Total</name>
        <label>Children Exp Total</label>
        <locationX>314</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>ChildrenTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Schooling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SchoolingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Schooling__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Expenditure_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Expenditure_Exp_Total</name>
        <label>Expenditure Exp Total</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>ExpenditureTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Expense_Totals_in_MC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Household_Exp_Total</name>
        <label>Household Exp Total</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>HouseholdTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Utilities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Mortgage_rent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Council_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UtilitiesTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Utilities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageRentTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Mortgage_rent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CouncilTaxTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Council_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Living_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Transport_Exp_Total</name>
        <label>Transport Exp Total</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>TransportTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Transport_travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransportTravelTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Transport_travel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Children_Exp_Total</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Deleted_All_Affordability_Records</name>
        <label>Deleted All Affordability Records?</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Household_Exp_Total</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AffordabilityCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Expense_Totals_in_MC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Refined fields set for total calculation</description>
    <environments>Default</environments>
    <formulas>
        <name>ChildrenAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Children_Expenses__c} - {!ChildrenTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ClothingSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Clothing_Sum__c} - {!ClothingTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CouncilTaxSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Council_Tax_Sum__c} - {!CouncilTaxTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>EntertainmentSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Entertainment_Sum__c} - {!EntertainmentTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExpenditureAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Expenditure_Expenses__c} - {!ExpenditureTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GamblingSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Gambling_Sum__c} - {!GamblingTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>GroceriesSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Groceries_Sum__c} - {!GroceriesTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>HouseholdAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Household_Expenses__c} - {!HouseholdTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InsurancesSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Insurances_Sum__c} - {!InsuranceTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InvestmentsSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Investments_Sum__c} - {!InvestmentsTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LeisureSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Leisure_Sum__c} - {!LeisureTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LifestyleAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Lifestyle_Expenses__c} - {!LifestyleTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LivingFAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Living_Expenses__c} - {!LivingTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>MortgRentSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Mortgage_Rent_Sum__c} - {!MortgageRentTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SchoolingSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Schooling_Sum__c} - {!SchoolingTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SportsSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Sports_Sum__c} - {!SportsTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TransportAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Transport_Expenses__c} - {!TransportTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TransportTravelSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Transport_Travel_Sum__c} - {!TransportTravelTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TravelSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Travel_Sum__c} - {!TravelTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TvIntCommsSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.TV_Internet_Communication_Sum__c} - {!TvInternetCommTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UtilitisSumAfterMinus</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Utilities_Sum__c} - {!UtilitiesTotal}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Affordability - Roll Up Affordability Expenses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Affordability - Roll Up Affordability Expenses After Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Affordability_Records_Count</name>
        <label>Get Affordability Records Count</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Affordability_Records_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mortgage_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mortgage_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Affordability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Reset_Expense_Totals_in_MC</name>
        <label>Reset Expense Totals in MC</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mortgage_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Children_Expenses__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clothing_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Council_Tax_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entertainment_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expenditure_Expenses__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gambling_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groceries_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household_Expenses__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurances_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investments_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leisure_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lifestyle_Expenses__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Living_Expenses__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mortgage_Rent_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schooling_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sports_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TV_Internet_Communication_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Expenses__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Travel_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utilities_Sum__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Mortgage_Case__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Expense_Totals_in_MC</name>
        <label>Update Expense Totals in MC</label>
        <locationX>314</locationX>
        <locationY>1259</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mortgage_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Children_Expenses__c</field>
            <value>
                <elementReference>ChildrenAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clothing_Sum__c</field>
            <value>
                <elementReference>ClothingSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Council_Tax_Sum__c</field>
            <value>
                <elementReference>CouncilTaxSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entertainment_Sum__c</field>
            <value>
                <elementReference>EntertainmentSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expenditure_Expenses__c</field>
            <value>
                <elementReference>ExpenditureAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gambling_Sum__c</field>
            <value>
                <elementReference>GamblingSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groceries_Sum__c</field>
            <value>
                <elementReference>GroceriesSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household_Expenses__c</field>
            <value>
                <elementReference>HouseholdAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurances_Sum__c</field>
            <value>
                <elementReference>InsurancesSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investments_Sum__c</field>
            <value>
                <elementReference>InvestmentsSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leisure_Sum__c</field>
            <value>
                <elementReference>LeisureSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lifestyle_Expenses__c</field>
            <value>
                <elementReference>LifestyleAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Living_Expenses__c</field>
            <value>
                <elementReference>LivingFAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mortgage_Rent_Sum__c</field>
            <value>
                <elementReference>MortgRentSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schooling_Sum__c</field>
            <value>
                <elementReference>SchoolingSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sports_Sum__c</field>
            <value>
                <elementReference>SportsSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TV_Internet_Communication_Sum__c</field>
            <value>
                <elementReference>TvIntCommsSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Expenses__c</field>
            <value>
                <elementReference>TransportAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Travel_Sum__c</field>
            <value>
                <elementReference>TransportTravelSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Sum__c</field>
            <value>
                <elementReference>TravelSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utilities_Sum__c</field>
            <value>
                <elementReference>UtilitisSumAfterMinus</elementReference>
            </value>
        </inputAssignments>
        <object>Mortgage_Case__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Affordability_Records_Count</targetReference>
        </connector>
        <object>Affordability__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AffordabilityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ChildrenTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ClothingTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CouncilTaxTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EntertainmentTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExpenditureTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GamblingTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GroceriesTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HouseholdTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InsuranceTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InvestmentsTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LeisureTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LifestyleTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LivingTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MortgageRentTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SchoolingTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SportsTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TransportTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TransportTravelTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TravelTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TvInternetCommTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UtilitiesTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
