force-app/main/default/flows/Affordability_Roll_Up_Affordability_Expenses.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Children_Exp_Total</name>
        <label>Children Exp Total</label>
        <locationX>528</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>ChildrenTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Schooling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SchoolingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Schooling__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Expenditure_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Lifestyle_Exp_Total</name>
        <label>Lifestyle Exp Total</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Gambling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Entertainment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Sports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Leisure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Insurances__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GamblingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Gambling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntertainmentTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Entertainment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SportsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Sports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeisureTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Leisure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Insurances__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Transport_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Living_Exp_Total</name>
        <label>Living Exp Total</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>LivingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TV_internet_communication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Groceries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Clothing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TvInternetCommTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TV_internet_communication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroceriesTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Groceries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClothingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Clothing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Investments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvestmentsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Investments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Lifestyle_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Children_Exp_Total</name>
        <label>Children Exp Total</label>
        <locationX>264</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>ChildrenTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Schooling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SchoolingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Schooling__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Expenditure_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Expenditure_Exp_Total</name>
        <label>Expenditure Exp Total</label>
        <locationX>264</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>ExpenditureTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Affordability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Household_Exp_Total</name>
        <label>Household Exp Total</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>HouseholdTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Utilities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Mortgage_rent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Council_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageRentTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Mortgage_rent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CouncilTaxTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Council_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UtilitiesTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Utilities__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Living_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Transport_Exp_Total</name>
        <label>Transport Exp Total</label>
        <locationX>264</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>TransportTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Transport_travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransportTravelTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Transport_travel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Children_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Expenditure_Exp_Total</name>
        <label>Expenditure Exp Total</label>
        <locationX>528</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>ExpenditureTotal</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Affordability</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Household_Exp_Total</name>
        <label>Household Exp Total</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>HouseholdTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Utilities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Mortgage_rent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Council_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageRentTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Mortgage_rent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CouncilTaxTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Council_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UtilitiesTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Utilities__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Living_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lifestyle_Exp_Total</name>
        <label>Lifestyle Exp Total</label>
        <locationX>528</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Gambling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Entertainment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Sports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Leisure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Insurances__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GamblingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Gambling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntertainmentTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Entertainment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SportsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Sports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeisureTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Leisure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsuranceTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Insurances__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transport_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Living_Exp_Total</name>
        <label>Living Exp Total</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>LivingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.TV_internet_communication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Groceries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Clothing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TvInternetCommTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.TV_internet_communication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroceriesTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Groceries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClothingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Clothing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Investments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvestmentsTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Investments__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lifestyle_Exp_Total</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Transport_Exp_Total</name>
        <label>Transport Exp Total</label>
        <locationX>528</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>TransportTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Transport_travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransportTravelTotal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Affordability.Transport_travel__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Children_Exp_Total</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Triggered_Record</name>
        <label>Is Triggered Record?</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Household_Exp_Total</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>For_Each_Affordability.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Household_Exp_Total</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Refined fields set for total calculation</description>
    <environments>Default</environments>
    <formulas>
        <name>ChildrenFromWidget</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Children_Expenses__c} - {!ChildrenTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExpenditureFromWidget</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Expenditure_Expenses__c} - {!ExpenditureTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>HouseholdFromWidget</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Household_Expenses__c} - {!HouseholdTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LifestyleFromWidget</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Lifestyle_Expenses__c} - {!LifestyleTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>LivingFromWidget</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Living_Expenses__c} - {!LivingTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TransportFromWidget</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Mortgage_Case__r.Transport_Expenses__c} - {!TransportTotal}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Affordability - Roll Up Affordability Expenses {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Affordability - Roll Up Affordability Expenses</label>
    <loops>
        <name>For_Each_Affordability</name>
        <label>For Each Affordability</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_All_Related_Affordability_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Triggered_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Expense_Totals_in_MC</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Related_Affordability_Records</name>
        <label>Get All Related Affordability Records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Affordability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mortgage_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mortgage_Case__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Affordability__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Expense_Totals_in_MC</name>
        <label>Update Expense Totals in MC</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Mortgage_Case__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Children_Expenses__c</field>
            <value>
                <elementReference>ChildrenTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clothing_Sum__c</field>
            <value>
                <elementReference>ClothingTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Council_Tax_Sum__c</field>
            <value>
                <elementReference>CouncilTaxTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Entertainment_Sum__c</field>
            <value>
                <elementReference>EntertainmentTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expenditure_Expenses__c</field>
            <value>
                <elementReference>ExpenditureTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gambling_Sum__c</field>
            <value>
                <elementReference>GamblingTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Groceries_Sum__c</field>
            <value>
                <elementReference>GroceriesTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household_Expenses__c</field>
            <value>
                <elementReference>HouseholdTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Insurances_Sum__c</field>
            <value>
                <elementReference>InsuranceTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investments_Sum__c</field>
            <value>
                <elementReference>InvestmentsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Leisure_Sum__c</field>
            <value>
                <elementReference>LeisureTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lifestyle_Expenses__c</field>
            <value>
                <elementReference>LifestyleTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Living_Expenses__c</field>
            <value>
                <elementReference>LivingTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mortgage_Rent_Sum__c</field>
            <value>
                <elementReference>MortgageRentTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Schooling_Sum__c</field>
            <value>
                <elementReference>SchoolingTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sports_Sum__c</field>
            <value>
                <elementReference>SportsTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TV_Internet_Communication_Sum__c</field>
            <value>
                <elementReference>TvInternetCommTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Expenses__c</field>
            <value>
                <elementReference>TransportTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transport_Travel_Sum__c</field>
            <value>
                <elementReference>TransportTravelTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Travel_Sum__c</field>
            <value>
                <elementReference>TravelTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Utilities_Sum__c</field>
            <value>
                <elementReference>UtilitiesTotal</elementReference>
            </value>
        </inputAssignments>
        <object>Mortgage_Case__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Related_Affordability_Records</targetReference>
        </connector>
        <object>Affordability__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ChildrenTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ChildrenTotalBeforeCreateUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ClothingTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CouncilTaxTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EntertainmentTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExpenditureTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExpenditureTotalBeforeCreateUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GamblingTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GroceriesTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HouseholdTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HouseholdTotalBeforeCreateUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InsuranceTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InvestmentsTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LeisureTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LifestyleTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LifestyleTotalBeforeCreateUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LivingTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LivingTotalBeforeCreateUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MortgageRentTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SchoolingTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SportsTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TransportTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TransportTotalBeforeCreateUpdate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TransportTravelTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TravelTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TvInternetCommTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UtilitiesTotal</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
