force-app/main/default/flows/Factfind_Ongoing_Stage_Start_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Case_Offered_Stage_End_Date</name>
        <label>Case Offered Stage End Date</label>
        <locationX>2162</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Offered_Stage_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case_Offered_Stage_End_Date__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Completed_Stage_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Offered_Stage_End_Date_2</name>
        <label>Case Offered Stage End Date</label>
        <locationX>2426</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Case_Offered_Stage_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_Lost_Stage_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Case_Offered_Stage_Start_Date</name>
        <label>Case Offered Stage Start Date</label>
        <locationX>1898</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Application_Offered_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Closed_Lost_Stage_Start_Date</name>
        <label>Closed Lost Stage Start Date</label>
        <locationX>2426</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Closed_Lost_Stage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Completed_Stage_Start_Date</name>
        <label>Completed Stage Start Date</label>
        <locationX>2162</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Completed_Stage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>DIP_Obtained_Stage_End_Date</name>
        <label>DIP Obtained Stage End Date</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.DIP_Obtained_Stage_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FMA_Submitted_Stage_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>DIPObtainedStage_Start_Date</name>
        <label>DIP Obtained Stage Start Date</label>
        <locationX>842</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.DIP_Obtained_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Factfind_Ongoing_Stage_End_Date</name>
        <label>Factfind Ongoing Stage End Date</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Factfind_Ongoing_Stage_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Factfind_Submitted_Stage_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Factfind_Ongoing_Stage_Start_Date</name>
        <label>Factfind Ongoing Stage Start Date</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Factfind_Ongoing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Factfind_Submitted_Stage_End_Date</name>
        <label>Factfind Submitted Stage End Date</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Factfind_Submitted_Stage_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Recommendations_Stage_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Factfind_Submitted_Stage_Start_Date</name>
        <label>Factfind Submitted Stage Start Date</label>
        <locationX>314</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Factfind_Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>FMA_Submitted_Stage_End_Date</name>
        <label>FMA Submitted Stage End Date</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.FMA_Submitted_Stage_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valuation_Instructed_Stage_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FMA_Submitted_Stage_Start_Date</name>
        <label>FMA Submitted Stage Start Date</label>
        <locationX>1106</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Application_Submitted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Recommendations_Stage_End_Date</name>
        <label>Recommendations Stage End Date</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Recommendations_Stage_Date_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DIPObtainedStage_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Recommendations_Stage_Start_Date</name>
        <label>Recommendations Stage Start Date</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Recommendations_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Valuation_Instructed_Stage_End_Date</name>
        <label>Valuation Instructed Stage End Date</label>
        <locationX>1634</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Valuation_Instructed_Stage_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valuation_Satisfied_Stage_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valuation_Instructed_Stage_Start_Date</name>
        <label>Valuation Instructed Stage Start Date</label>
        <locationX>1370</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Valuation_Instructed_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Valuation_Satisfied_Stage_End_Date</name>
        <label>Valuation Satisfied Stage End Date</label>
        <locationX>1898</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Valuation_Satisfied_Stage_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Case_Offered_Stage_Start_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valuation_Satisfied_Stage_Start_Date</name>
        <label>Valuation Satisfied Stage Start Date</label>
        <locationX>1634</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Valuation_Satisfied_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_1</name>
        <label>Stage</label>
        <locationX>1370</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Factfind_Ongoing_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Factfind ongoing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Factfind_Ongoing_Stage_Start_Date</targetReference>
            </connector>
            <label>Factfind Ongoing Stage</label>
        </rules>
        <rules>
            <name>Factfind_Submitted_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Factfind submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Factfind_Ongoing_Stage_End_Date</targetReference>
            </connector>
            <label>Factfind Submitted Stage</label>
        </rules>
        <rules>
            <name>Recommendations_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recommendations</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Factfind_Submitted_Stage_End_Date</targetReference>
            </connector>
            <label>Recommendations Stage</label>
        </rules>
        <rules>
            <name>DIP_Obtained_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DIP obtained</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recommendations_Stage_End_Date</targetReference>
            </connector>
            <label>DIP Obtained Stage</label>
        </rules>
        <rules>
            <name>FMA_Submitted_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FMA submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DIP_Obtained_Stage_End_Date</targetReference>
            </connector>
            <label>FMA Submitted Stage</label>
        </rules>
        <rules>
            <name>Valuation_Instructed_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valuation instructed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FMA_Submitted_Stage_End_Date</targetReference>
            </connector>
            <label>Valuation Instructed Stage</label>
        </rules>
        <rules>
            <name>Valuation_Satisfied_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Valuation satisfied</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valuation_Instructed_Stage_End_Date</targetReference>
            </connector>
            <label>Valuation Satisfied Stage</label>
        </rules>
        <rules>
            <name>Case_Offered_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case offered</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Valuation_Satisfied_Stage_End_Date</targetReference>
            </connector>
            <label>Case Offered Stage</label>
        </rules>
        <rules>
            <name>Completed_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Offered_Stage_End_Date</targetReference>
            </connector>
            <label>Completed Stage</label>
        </rules>
        <rules>
            <name>Closed_Lost_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Offered_Stage_End_Date_2</targetReference>
            </connector>
            <label>Closed Lost Stage</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Factfind Ongoing Stage Start Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Factfind Ongoing Stage Start Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Mortgage_Case__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
