force-app/main/default/flows/Initialize_Affordability_Metrics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Mortgage_Case_Record</name>
        <label>Mortgage Case Record</label>
        <locationX>352</locationX>
        <locationY>1092</locationY>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MCs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Household_Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HouseholdSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Living_Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LivingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Lifestyle_Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LifestyleSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Transport_Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TransportSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Children_Expenses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChildrenSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Mortgage_Rent_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MortgageRentSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Council_Tax_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CouncilTaxSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Utilities_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UtilitiesSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Clothing_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClothingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Groceries_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GroceriesSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.TV_Internet_Communication_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TvIntCommSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Leisure_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LeisureSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Entertainment_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EntertainmentSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Gambling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GamblingSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Insurances_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InsurancesSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Investments_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InvestmentsSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Sports_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SportsSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Travel_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TravelSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Transport_Travel_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TravelTransportSum</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageCaseRecord.Schooling_Sum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SchoolingSum</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mortgage_Case_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Mortgage_Case_Record_Collection</name>
        <label>Mortgage Case Records Collection</label>
        <locationX>352</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>MortgageCaseRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MortgageCaseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Metrics</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Metrics</name>
        <label>Reset Metrics</label>
        <locationX>352</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>HouseholdSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransportSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildrenSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Metrics_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Metrics_2</name>
        <label>Reset Metrics 2</label>
        <locationX>352</locationX>
        <locationY>1416</locationY>
        <assignmentItems>
            <assignToReference>MortgageRentSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CouncilTaxSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UtilitiesSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClothingSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroceriesSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TvIntCommSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeisureSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntertainmentSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GamblingSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsurancesSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvestmentsSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SportsSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelTransportSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SchoolingSum</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MCs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Up_Metrics</name>
        <label>Sum Up Metrics</label>
        <locationX>440</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>HouseholdSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Mortgage_rent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Council_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Utilities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Clothing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Groceries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LivingSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.TV_internet_communication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Leisure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Entertainment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Gambling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Insurances__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Investments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Sports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LifestyleSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TransportSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Transport_travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChildrenSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Schooling__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sum_Up_Metrics_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sum_Up_Metrics_2</name>
        <label>Sum Up Metrics 2</label>
        <locationX>440</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>MortgageRentSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Mortgage_rent__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CouncilTaxSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Council_Tax__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UtilitiesSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Utilities__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClothingSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Clothing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GroceriesSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Groceries__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TvIntCommSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.TV_internet_communication__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeisureSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Leisure__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EntertainmentSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Entertainment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GamblingSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Gambling__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InsurancesSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Insurances__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvestmentsSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Investments__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SportsSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Sports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TravelTransportSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Transport_travel__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SchoolingSum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AFFs.Schooling__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AFFs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Recently_Updated</name>
        <label>Recently Updated?</label>
        <locationX>484</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>MCs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>MCs.Household_Expenses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MCs.Living_Expenses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MCs.Lifestyle_Expenses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MCs.Transport_Expenses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MCs.Children_Expenses__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_AFFs</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Initialize Affordability Metrics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Initialize Affordability Metrics</label>
    <loops>
        <name>AFFs</name>
        <label>AFFs</label>
        <locationX>352</locationX>
        <locationY>684</locationY>
        <collectionReference>Get_Related_AFFs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Sum_Up_Metrics</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Mortgage_Case_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>MCs</name>
        <label>MCs</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>Get_All_MCs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Recently_Updated</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Metrics</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_MCs</name>
        <label>Get All MCs</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MCs</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Mortgage_Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_AFFs</name>
        <label>Get Related AFFs</label>
        <locationX>352</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AFFs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Mortgage_Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MCs.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Affordability__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Metrics</name>
        <label>Update Metrics</label>
        <locationX>176</locationX>
        <locationY>1692</locationY>
        <inputReference>MortgageCaseRecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_MCs</targetReference>
        </connector>
        <schedule>
            <frequency>Once</frequency>
            <startDate>2024-08-29</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ChildrenSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ClothingSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CouncilTaxSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EntertainmentSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GamblingSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>GroceriesSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>HouseholdSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InsurancesSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InvestmentsSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LeisureSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LifestyleSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LivingSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MortgageCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mortgage_Case__c</objectType>
    </variables>
    <variables>
        <name>MortgageCaseRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Mortgage_Case__c</objectType>
    </variables>
    <variables>
        <name>MortgageRentSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SchoolingSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>SportsSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TransportSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TravelSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TravelTransportSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TvIntCommSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UtilitiesSum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
